PREFIX=.
AUTO_REACTION=on
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/74b0a64a9725b080d79c3.png
BOT_MODE=private
DATABASE_URL=postgresql://postgres:bKlIqoOUWFIHOAhKxRWQtGfKfhGKgmRX@viaduct.proxy.rlwy.net:47738/railway
OWNER_NAME=pop kid 
OWNER_NUMBER=254111385747
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=
CHAT_BOT=off
SESSION_ID='' 
